einops==0.3.0
kornia==0.5.2
tensorboard
tensorboard-plugin-wit
torchmetrics
torch==1.8.0
torchaudio==0.8.0
torchvision==0.9.0
tqdm
typing-extensions
urllib3
vector-quantize-pytorch
wandb
Werkzeug
yarl
zipp
fire
retry
pytorch-fid
adabelief-pytorch
facenet-pytorch
numpy
UVTextureConverter
detectron2 @ https://dl.fbaipublicfiles.com/detectron2/wheels/cu101/torch1.8/index.html