absl-py 
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
async-timeout==3.0.1
attrs 
blessings==1.7
blinker==1.4
brotlipy==0.7.0
cachetools
certifi==2020.12.5
cffi 
chardet==4.0.0
click 
colorama==0.4.4
configparser==5.0.2
cryptography 
docker-pycreds==0.4.0
einops==0.3.0
filelock==3.0.12
fsspec 
future 
gitdb==4.0.7
GitPython==3.1.17
google-api-core==1.28.0
google-auth 
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.38.0
hiredis==2.0.0
idna 
importlib-metadata 
jsonschema==3.2.0
kornia==0.5.2
Markdown 
mkl-fft==1.3.0
mkl-random 
mkl-service==2.3.0
msgpack==1.0.2
multidict 
numpy 
nvidia-ml-py3==7.352.0
oauthlib==3.0.1
olefile==0.46
opencensus==0.7.13
opencensus-context==0.1.2
packaging 
pandas==1.2.4
pathtools==0.1.2
Pillow 
prometheus-client==0.10.1
promise==2.3
protobuf==3.17.0
psutil==5.8.0
py-spy==0.3.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser
pyDeprecate
PyJWT
pyOpenSSL
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks
python-dateutil
pytz
PyYAML==5.4.1
ray==1.3.0
redis==3.5.3
requests
requests-oauthlib
rsa
sentry-sdk==1.1.0
shortuuid==1.0.1
six
smmap==4.0.0
subprocess32==3.5.4
tensorboard
tensorboard-plugin-wit
torch==1.8.1
torchaudio==0.8
torchmetrics
torchvision==0.9.1
tqdm
typing-extensions
urllib3
vector-quantize-pytorch==0.1.0
wandb
Werkzeug
yarl
zipp
fire
retry